@import url(../../public/fonts/fontello.css);
@import url(../../public/fonts/Shabnam.css);
@import url(../../public/fonts/Shabnam-FD.css);
@import url(../../public/fonts/Shabnam-Medium-FD.css);
@import url(../../public/fonts/Shabnam-Bold-FD.css);