/* import */
@import url(./modules/Import-modules.css);

/* content */
body {
  background-color: #fafafa;
  overflow-x: hidden;
}
/* header */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  .nav-top {
    line-height: 21px;
    width: 100%;
    height: 50%;
    padding: 15px;
    justify-content: center;
    background-color: #ffffff;
    .nav-top-right {
      gap: 50px;
      .logo {
        height: 40px;
        width: 96px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      a {
        text-wrap-mode: nowrap;

        color: #a3a3a3;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Shabnam;
        text-decoration: none;
        text-align: center;
        width: 80px;
        &:hover {
          color: #0b295a;
        }
      }

      input {
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        color: #a3a3a3;
        padding: 5px;
        border: 1px solid #a3a3a3;
        border-radius: 10px;

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
      }
    }
    .nav-top-left {
      gap: 10px;
      .btn-right {
        background-color: #fff;
        border: 1px solid whitesmoke;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        color: #fe5f55;

        &:hover {
          color: #06224e;
        }
      }
      .btn-left {
        line-height: 21px;
        background-color: #0a5abd;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        &:hover {
          background-color: #0b295a;
        }
      }
    }
  }

  nav {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
      color: #fe5f55;
    }
    ul {
      width: 100%;
      height: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding: 5px;
      overflow: hidden;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .dropdown {
        display: inline-block;
        &:hover .dropbtn {
          color: #fe5f55;
        }
        &:hover .dropdown-content {
          display: block;
        }
      }
      .dropbtn {
        padding: 14px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap-mode: nowrap;
        text-align: center;
        color: black;
        text-decoration: none;
        gap: 10px;
        line-height: 21px;
      }
      .dropdown-content {
        width: 330px;
        display: none;
        position: absolute;
        border: 0.5px solid gainsboro;
        border-radius: 10px;
        background-color: #ffffff;
        min-width: 160px;
        z-index: 2;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: right;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}
/* main */
main {
  font-family: url(../../public/fonts/Shabnam-Bold-FD.css);
  padding: 20px;
  .section-1 {
    height: 25px;
    max-width: 1190px;
    padding: 10px 30px;
    margin: 20px auto;
    color: #9e9e9e;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 32px;
    font-size: 12px;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .section-2 {
    height: 540px;
    max-width: 1248px;
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;

    .right {
      height: 100%;
      width: 29%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 60px;
      border-left: 1px solid #c8c8c8;
      .img {
        padding: 20px;
        width: 90%;
      }
      div {
        justify-content: flex-start;
        gap: 5px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
    .left {
      height: 100%;
      width: 71%;
      .left-1 {
        height: 23%;
        width: 96%;
        padding: 16px;
        border-bottom: 1px solid #c8c8c8;
        justify-content: space-around;
        h1 {
          font-size: 18px;
          font-weight: 700;
          line-height: 40px;
          align-self: flex-start;
        }
        .left-1-wrapper {
          font-size: 14px;
          line-height: 18px;
          align-self: flex-end;
          gap: 10px;
          .wrapper-child {
            color: #9e9e9e;
            &:hover {
              color: black;
            }

            gap: 5px;
          }
          .child {
            padding: 10px;
            border-left: 2px solid #c8c8c8;
          }
        }
      }
      .left-2 {
        height: 14%;
        width: 93%;
        padding: 24px;
        border-bottom: 1px solid #c8c8c8;

        .first {
          width: 40%;
          gap: 10px;
          a {
            gap: 8px;
            .span {
              padding-left: 5px;
              border-left: 1px solid #c8c8c8;
            }
          }
        }
        .second {
          width: 40%;
          gap: 10px;
        }
        .btn {
          height: 30px;
          padding: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          color: #9e9e9e;
          border-width: 1.5px;
          border-color: rgba(235, 235, 235, 1);
        }
      }
      .left-3 {
        height: 14%;
        width: 93%;
        padding: 24px;
        border-bottom: 1px solid #c8c8c8;

        .first {
          width: 40%;
          gap: 10px;
        }
        .second {
          width: 40%;
          gap: 10px;
        }
        .btn {
          height: 30px;
          padding: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          color: #9e9e9e;
          border-width: 1.5px;
          border-color: rgba(235, 235, 235, 1);
        }
      }
      .left-4 {
        height: 46%;
        width: 100%;
        padding: 16px;
        justify-content: space-around;
        ul {
          align-self: flex-start;

          list-style-type: disc;
        }
        .card-buy {
          height: 155px;
          width: 255px;
          background-color: #f7f8fa;
          border: 1px solid #e2e8f0;
          align-self: flex-end;
          justify-content: space-between;
          .title {
            width: 90%;
            height: 25%;
            padding: 10px;
            justify-content: flex-start;
            border-bottom: 1px solid #c8c8c8;
          }
          .price {
            width: 100%;
            height: 75%;
            padding: 16px;
            gap: 30px;
            .first {
              gap: 10%;
              .one {
                color: #636364;
                text-decoration: line-through;
                line-height: 24px;
                font-weight: 500;
              }

              .two {
                height: 27px;
                color: #0a5abd;
                text-wrap-mode: nowrap;
                line-height: 30px;
                font-size: 20px;
                font-weight: 700;
                span {
                  font-size: 16;
                  font-weight: 400;
                  color: #636364;
                  line-height: 16px;
                }
              }
            }
            .btn {
              background-color: #0a5abd;
            }
          }
        }
      }
    }
  }
  .section-3 {
    height: 80px;
    max-width: 1250px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .card-wrapper {
      padding: 16px;
      flex-direction: row-reverse;
      gap: 10px;
      .img {
        width: 47px;
        height: 47px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        line-height: 24px;
        color: #9e9e9e;
      }
    }
  }
  .section-4 {
    height: fit-content;
    max-width: 1216px;
    padding: 16px;
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    .head {
      height: 50px;
      width: 100%;
      padding: 4px 0 0 0;
      color: #0a5abd;
      line-height: 24px;
      justify-content: space-between;
      border-bottom: 1px solid #c8c8c8;

      span {
        padding: 12px;
        border-bottom: 2px solid #0a5abd;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .paragraph {
      p {
        margin: 15px 0;
        font-size: 14px;
        line-height: 21px;
      }
      h2 {
        margin: 10px 0;
        color: #0a5abd;
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
      }
      h3 {
        margin: 10px 0;
        color: #0a5abd;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
      }
    }
    .content {
      height: fit-content;
      width: 95%;
    }
  }
  .section-5 {
    height: 380px;
    max-width: 1215px;
    padding: 16px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .top {
      justify-content: space-evenly;
      gap: 20px;
      .right {
        width: 750px;
        height: 175px;
        resize: vertical;
      }
      .left {
        height: 100%;
        justify-content: space-between;
        .roudnd {
          width: 200px;
          height: 35px;
          border: 1px;
          border-radius: 4px;
        }
      }
    }
    .mid {
      height: fit-content;
      padding: 20px 0;
      width: 98%;
      background-color: #f7f8fa;
      flex-direction: row-reverse;
      gap: 20px;
      img {
        width: 120px;
        height: 30px;
      }
      input {
        width: 200px;
        height: 40px;
        border: 1px;
        border-radius: 4px;
      }
    }
    .bottom {
      height: fit-content;
      width: 85%;
      justify-content: flex-start;
      input {
        background-color: #8393ab;
        color: #fff;
      }
    }
  }
  .section-6 {
    height: 450px;
    max-width: 1190px;
    padding: 10px 30px;
    margin: 20px auto;
    background-color: #e2e2e2;
    overflow: hidden;
    .top {
      height: 20px;
      width: 100%;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      color: #757575;
      padding: 15px 20px 0;
      justify-content: space-between;
      .text {
        font-size: 24px;
        font-weight: 700;
      }
      .link {
        color: #757575;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
    }
  }
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  padding: 0 0 0 24px;
  .top {
    background-color: #e2e2e2;
    .top-1 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
    .top-2 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
    .top-3 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
  }
  .mid {
    width: 100%;
    height: 370px;
    padding: 12px 0;
    gap: 20px;
    .mid-1 {
      gap: 2rem;
      .mid-1-1 {
        width: 190px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .mid-1-2 {
        gap: 1rem;
      }
    }
    .mid-2 {
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
      .paragraph {
        width: 520px;
        height: 252px;
        line-height: 32px;
      }
    }
    .mid-3 {
      h3 {
        font-size: 20px;
        font-weight: 700;
      }

      .link-wrapper {
        padding: 40px;
        width: 520px;
        height: 252px;
        line-height: 32px;
        a {
          color: #757575;
          text-decoration: none;
        }
      }
    }
    .mid-4 {
      img {
        width: 150px;
        height: 200px;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 100px;
    color: whitesmoke;
    background-color: #0a5abd;
  }
}
