/* import */
@import url(./modules/Import-modules.css);

/* content */
body {
  background-color: #fafafae7;
  overflow-x: hidden;
}
/* header */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  .nav-top {
    line-height: 21px;
    width: 100%;
    height: 50%;
    padding: 15px;
    justify-content: center;
    background-color: #ffffff;
    .nav-top-right {
      gap: 50px;
      .logo {
        height: 40px;
        width: 96px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      a {
        text-wrap-mode: nowrap;

        color: #a3a3a3;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        font-family: Shabnam;
        text-decoration: none;
        text-align: center;
        width: 80px;
        &:hover {
          color: #0b295a;
        }
      }

      input {
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        color: #a3a3a3;
        padding: 5px;
        border: 1px solid #a3a3a3;
        border-radius: 10px;

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
      }
    }
    .nav-top-left {
      gap: 10px;
      .btn-right {
        background-color: #fff;
        border: 1px solid whitesmoke;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        color: #fe5f55;

        &:hover {
          color: #06224e;
        }
      }
      .btn-left {
        line-height: 21px;
        background-color: #0a5abd;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        &:hover {
          background-color: #0b295a;
        }
      }
    }
  }

  nav {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: black;
      color: #fe5f55;
    }
    ul {
      width: 100%;
      height: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding: 5px;
      overflow: hidden;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .dropdown {
        display: inline-block;
        &:hover .dropbtn {
          color: #fe5f55;
        }
        &:hover .dropdown-content {
          display: block;
        }
      }
      .dropbtn {
        padding: 14px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap-mode: nowrap;
        text-align: center;
        color: black;
        text-decoration: none;
        gap: 10px;
        line-height: 21px;
      }
      .dropdown-content {
        width: 330px;
        display: none;
        position: absolute;
        border: 0.5px solid gainsboro;
        border-radius: 10px;
        background-color: #ffffff;
        min-width: 160px;
        z-index: 2;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: right;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}
/* main */
main {
  padding: 20px;
  .section-1 {
    height: 400px;
    max-width: 1216px;
    padding: 0 48px 48px;
    margin: 20px auto 32px;
  }
  .section-2 {
    height: 700px;
    max-width: 1248px;
    padding: 15px 48px 48px;
    margin: 0 auto 32px;
    background-color: #e2e2e2;
    overflow: hidden;
    .top {
      height: 50px;
      width: 100%;
      color: #757575;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      padding: 15px 20px;
      justify-content: space-between;
      .text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
      .time {
        display: flex;
        align-items: baseline;
        padding: 5px;
      }
    }
    .bottom {
      display: flex;
      gap: 20px;
      .right {
        width: 100%;
        height: 100%;
      }
      .mid {
        width: 100%;
        height: 100%;
      }
      .left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .bottom-top {
          width: 100%;
          height: 100%;
        }
        .left-mid {
          width: 100%;
          height: 100%;
        }
        .bottom {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .section-3 {
    height: 280px;
    max-width: 1280px;
    padding: 0 48px 48px;
    margin: 0 auto 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 192px;
      height: 193px;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .section-4 {
    height: 550px;
    max-width: 1248px;
    padding: 15px 48px 48px;
    margin: 0 auto 32px;
    background-color: #e2e2e2;
    overflow: hidden;
    .top {
      height: 50px;
      width: 100%;
      padding: 20px;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      color: #757575;
      padding: 15px 20px;
      justify-content: space-between;
      .text {
        font-size: 24px;
        font-weight: 700;
      }
      .link {
        color: #757575;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
    }
  }
  .section-5 {
    height: 300px;
    max-width: 1280px;
    padding: 0 48px 48px;
    margin: 0 auto 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
    .card-wrpper {
      display: flex;
      gap: 15px;
      .card {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-img {
          width: 64px;
          height: 64px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .section-6 {
    height: 550px;
    max-width: 1240px;
    padding: 0 48px 48px;
    margin: 0 auto 32px;
    background-color: #e2e2e2;
    overflow: hidden;
    .top {
      height: 50px;
      width: 100%;
      padding: 20px;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      color: #757575;
      padding: 15px 20px;
      justify-content: space-between;
      .text {
        font-size: 24px;
        font-weight: 700;
      }
      .link {
        color: #757575;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
    }
  }
  .section-7 {
    height: 210px;
    max-width: 1280px;
    padding: 0 20px 20px;
    margin: 0 auto 50px;
    .top {
      height: 50px;
      width: 100%;
      padding: 20px;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      color: #757575;
      padding: 0px 20px;
      justify-content: space-between;
      .text {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .section-8 {
    height: 210px;
    max-width: 1280px;
    padding: 0 20px 20px;
    margin: 0 auto 50px;
    .top {
      height: 50px;
      width: 100%;
      padding: 20px;
      font-size: 36px;
      font-family: Shabnam;
      font-weight: 700;
      color: #757575;
      padding: 0px 20px;
      justify-content: space-between;
      .text {
        font-size: 24px;
        font-weight: 700;
      }
      .link {
        color: #757575;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
    }
  }
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  padding: 0 0 0 24px;
  .top {
    background-color: #e2e2e2;
    .top-1 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
    .top-2 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
    .top-3 {
      line-height: 20px;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
    }
  }
  .mid {
    width: 100%;
    height: 370px;
    padding: 12px 0;
    gap: 20px;
    .mid-1 {
      gap: 2rem;
      .mid-1-1 {
        width: 190px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .mid-1-2 {
        gap: 1rem;
      }
    }
    .mid-2 {
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
      .paragraph {
        width: 520px;
        height: 252px;
        line-height: 32px;
      }
    }
    .mid-3 {
      h3 {
        font-size: 20px;
        font-weight: 700;
      }

      .link-wrapper {
        padding: 40px;
        width: 520px;
        height: 252px;
        line-height: 32px;
        a {
          color: #757575;
          text-decoration: none;
        }
      }
    }
    .mid-4 {
      img {
        width: 150px;
        height: 200px;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 100px;
    color: whitesmoke;
    background-color: #0a5abd;
  }
}
