@import url(../../../node_modules/swiper/swiper-bundle.min.css);
.swiper {
	max-width: 100%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
	.swiper-slide {
		background: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 16px;
		overflow: hidden;
		img {
			border-radius: 16px;
			overflow: hidden;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
